<div>
  <form action="" method="POST">
    <div>
      <label for="title">Post Title</label>
      <input type="text" name="title" />
    </div>
      <label for="content">Message</label>
      <textarea name="content" id="" cols="30" rows="30"></textarea>
      <input type="submit" value="Submit">
  </form>
</div>