<div>
  <h1>Secret Passcode: </h1>
  <form action="" method="POST">
    <label for="passcode">Enter Secret Passcode: </label>
    <input type="password" name="passcode" />
    <input type="submit" value="Submit" />
  </form>
</div>