<div>
  <% if (typeof usernameTaken !== 'undefined' && usernameTaken === true) { %>
    <div style="border: 1px solid #000">
      <h3>Username taken. Please choose a different one.</h3>
    </div>
  <% } %>
  <% if (typeof errors !== 'undefined') { %>
    <% errors.forEach(error => { %>
      <div style="border: 1px solid #000">
        <h3><%= error.param %> </h3>
        <h3><%= error.value %> </h3>
        <h3><%= error.msg %> </h3>
      </div>
    <% }) %>
  <% } %>
  <form id="sign-up-form" action="" method="POST">
    <div class="form-item">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" />
    </div>
    <div class="form-item">
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" />
    </div>
    <div class="form-item">
      <label for="username">Username</label>
      <input type="text" name="username" />
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <div class="form-item">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" name="confirm-password" />
    </div>
    <div class="form-item">
      <label for="secret">Secret Code</label>
      <input type="secret" name="secret" />
    </div>
    <input type="submit" value="Sign Up">
  </form>
</div>